/* Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Universal */
html{
    font-size: 16px;  
    font-family: 'Inter'; 
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
    font-family: 'Caramel';
}

p{
    font-size: 2rem;
}

i{
    font-size: 2.5rem;
}

/* Navbar */
header{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    height: auto;
    position: sticky;
    top: 1px;
}

nav ul{
    display: flex;
    width: auto;
    list-style: none;
    
}
.navbar{
    align-content: center;
}

.navbar a{
    padding-right: 2.5rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    
}

/* Project */
#projects{
    background-color: antiquewhite;
    padding: 1rem 0;
    height: auto;
}

#projects h1{
    font-size: 4rem;
    text-align: center;
}

.pro-container-left{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2rem;
}

.pro-container-right{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 2rem;
}

img{
    height: 20rem;
    width: 40rem;
    border-radius: 2rem;
}

.info-pro{
    width: 37rem;
    margin: 2rem;
}

/* Skill */
#skill{
    background-color: rgb(238, 195, 138);
    height: auto;
}

#skill h1{
    font-size: 3rem;
    text-align: center;
}

.skill-container{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

/* About me */
#about-me{
    background-color: antiquewhite;
    height: auto;
    padding-bottom: 1.5rem;
}

#about-me h1{
    font-size: 3rem;
    text-align: center;
}

#about-me p{
    width: 80%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;

}

/* Footer */
footer{
    background-color: rgb(238, 195, 138);
    height: auto;
    display: flex;
    justify-content: space-between;
}

h4{
    font-size: 1.5rem;
    padding: 1px;
    align-self: center;
    font-family: 'Caramel';
}

footer i{
    padding: 1rem;
}

/* Contact */
#contact{ 
    background-color: antiquewhite;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    height: 100vh;
}

#fcontact{
    height: auto;
    width: fit-content;
    padding: 2rem;
    border: 7px double black;
}

input{
    border: 1px solid black;
    margin: 1rem;
    border-radius: 5px;
    background-color: aliceblue;
}
textarea{
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
}